{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mx-auto px-4 py-8 mt-20">
        <div class="mb-3">
            <a href="{{ path('leagues') }}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Go
                Back</a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <div class="bg-white shadow-md rounded-lg overflow-hidden dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex justify-center">
                        <img class="w-4/5 object-cover" src="{{ asset('img/' ~ league.img) }}" alt="{{ league.name }}">
                    </div>
                    <div class="p-4">
                        <h2 class="text-xl font-bold mb-2 dark:text-white">{{ league.name }}</h2>
                        <p class="text-gray-700 dark:text-white"><strong>Created:</strong> {{ league.created }}</p>
                        <p class="text-gray-700 dark:text-white"><strong>Country:</strong> {{ league.country }}</p>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}