{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mx-auto px-4 py-8 mt-20">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for club in clubs %}
                <div class="{{ club.name}} shadow-md rounded-lg overflow-hidden">
                    <div class="flex justify-center">
                    <img class="w-4/5 object-cover" src="{{ asset('img/' ~ club.img) }}" alt="{{ club.name }}">
                    </div>
                    <div class="p-4">
                        <h2 class="text-xl font-bold mb-2 dark:text-white">{{ club.name }}</h2>
                        <p class="text-gray-700 dark:text-white"><strong>League:</strong> {{ club.league }}</p>
                        <a href="{{ path('club-details', {'id': club.id}) }}" class="text-blue-500 hover:underline">See More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

